<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-5 no-padding" style="background-color:greenyellow;">
      <app-picks-ligamx></app-picks-ligamx>
    </div>
    <div class="col-12 col-lg-7 d-none d-lg-block d-xl-block">
      <div class="row">

        <div class="col-3 prize-steps-container">

          <div class="prize-steps-step-borderb" style="">
            <h4>LLENA</h4>
            <p>TU QUINIELA</p>
          </div>

          <div class="prize-steps-step" style="">
            <h4>GUARDA</h4>
            <p>TU QUINIELA</p>
          </div>

          <div class="prize-steps-step" style="">
            <h4>CREA</h4>
            <p>TU CUENTA</p>
          </div>

          <div class="prize-steps-step" style="">
            <h4>PAGA</h4>
            <p>LA QUINIELA</p>
          </div>

        </div>

        <div class="col-9 prize-info">
          <br>
          <h4>QUINIELA SEMANAL LIGA MX</h4>
          <H1 class="prize-title">$70,000</H1>
          <h4>GARANTIZADOS EN PREMIOS</h4>
          <br>
          <h4>HEMOS REPARTIDO MÁS DE</h4>
          <h1 class="prize-title">3 MILLONES</h1>
          <h4>DE PESOS EN PREMIOS</h4>
        </div>
      </div>
    </div>
  </div>
</div>
